body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; 
    color: #1f181d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.container {
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;    
}

.icon {
    width: 90px; 
    height: 90px; 
    margin-bottom: 10px;
    border-radius: 8px;
}

h1 {
    font-size: 1.5em; 
    color: #985ACE; 
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

label {
    text-align: left;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease; 
}

input[type="email"]:hover,
input[type="password"]:hover {
    background-color: rgba(152, 90, 206, 0.2); 
}

input:focus {
    border-color: #985ACE; 
    outline: none; 
}

.forgot-password {
    text-align: left;
    font-size: 0.9em; 
    color: #985ACE; 
    text-decoration: none; 
}

.forgot-password:hover {
    text-decoration: underline;
}

.role-selection {
    display: flex;
    justify-content: space-between;
}

.role-selection label {
    font-size: 0.9em; 
}

.btn {
    background-color: #985ACE; 
    color: white; 
    border: none; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: rgba(152, 90, 206, 0.8); 
}

.register {
    background-color: transparent; 
    color: #985ACE; 
    border: 1px solid #985ACE; 
}

.register:hover {
    background-color: #985ACE; 
    color: white; 
}

.line {
    margin-top: 20px;
    border: none;
    border-top: 1px solid #985ACE; 
}
